.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.nav-item:hover {
  background-color: rgb(181, 178, 178);
}
.nav-link:hover {
  color: black !important;
}
.search-icon:hover {
  background-color: red;
}

.dropdown-item:hover {
  background-color: rgb(181, 178, 178);
}
