body {
  font-size: 15px;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.nav-item:hover {
  background-color: rgb(181, 178, 178);
}
.nav-link:hover {
  color: black !important;
}
.search-icon:hover {
  background-color: red;
}

.dropdown-item:hover {
  background-color: rgb(181, 178, 178);
}

.bio-section > div {
  max-width: 800px;
}

.bio-section div h2 {
  font-size: 25px;
  letter-spacing: 4px;
  font-weight: 400;
}

.bio-section--paragraph {
  font-size: 14px;
}

.dates-section {
  background-color: black;
}

.dates-section--content {
  max-width: 800px;
  padding: 64px 16px;
}

.dates-section--content h2 {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 30px;
}

.dates-section--content > p {
  font-size: 15px;
}

.list-group--item {
  border-bottom: 1px solid #ddd;
}

.card {
  border-width: 0;
}

.card-title {
  font-size: 15px;
}

.card-body {
  font-size: 15px;
}

.card-img-top:hover {
  filter: brightness(60%);
}

.button-buy:hover {
  background-color: #ddd;
  color: black;
  border-color: #ddd;
}

.contact-section--content h2 {
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 30px;
}

.contact-section--content {
  max-width: 800px;
  padding: 0px 16px 64px;
}

.footer-section {
  color: gray;
}

.footer-section i {
  font-size: 18px;
}

.footer-section i:hover {
  color: #d3d3d3;
}

.powered-by {
  font-size: 15px;
}

.powered-by a {
  color: gray;
}

.form-control:focus {
  border-color: black;
  box-shadow: none;
}
